    header {
        background-color: #0b6623;
        padding: 15px;
        text-align: center;
    } 

    body { 
        background-color: #013220;
        color: #f5f5dc;
        }  
 
    .subtitulos {
        color:darkgoldenrod;
        text-align: center;
    }
    
    .titulo  {
        color: darkgoldenrod;
        text-align: center;
        font-size: 2.2rem;
    }

    section {
        padding: 20px;
    }
     h2::before {
        content: "• ";
        color: darkgoldenrod; /* Color del punto */
        
        
        }
 
    .parrafos{
       
        color: #f5f5dc;
        border: 1px solid darkgoldenrod;
        text-align: center;
        padding: 15px;
}
    
.card {
  background-color: #0b6623;   /* verde */
  color: #f5f5dc;              /* texto claro */
  border: 1px solid darkgoldenrod;
}
  
